.wrapper{
    max-width: 700px;
    margin: 0 auto;
}

.wrapper__todo-list{
    margin-top: 50px;
}

.todo-form{
    margin-top: 100px;
}

.todo-item{
    margin-bottom: 20px;
    transition: all .4s ease;
    &:hover{
        .button-controls{
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }

        box-shadow: 0 5px 32px rgba(103,122,141,.17);
    }
}

.button-controls{
    position: absolute;
    top: 10px;
    right: 25px;
    transform: translateY(5px);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
}